@model ProjetoTCM.Infrastructure.Common.ObjectReply<ProjetoTCM.Domain.General.ProviderDomain>
@{
    ViewBag.Title = "CadastroForn";
}

<h3>Cadastro de Fornecedor</h3>

<script>
    function cpf() {
        var mask = document.getElementById("cpf");
        if (mask.value.length == 3 || mask.value.length == 7) {
            mask.value += "."
        }
        else if (mask.value.length == 11) {
            mask.value += "-"
        }
    }
</script>


@using (Html.BeginForm("CadastroForn", "Provider", FormMethod.Post))
{
    <fieldset>
        <legend class="inicio">Insira os dados do fornecedor para efetuar o cadastro:</legend>
    </fieldset>

    <div>
        <label>NOME</label>
        <br />
        <input class="input" type="text" name="Name" placeholder="Nome" />
        <br />
        <br />
    </div>
    <div>
        <label>CNPJ</label>
        <br />
        <input class="input" id="cpf" type="text" name="CNPJ" autocomplete="off" placeholder="CNPJ" maxlength="14" onclick="cpf()" />
        <br />
        <br />
    </div>
    <div>
        <label>ENDEREÇO</label>
        <br />
        <input class="input" required="required" type="tel" name="Address" placeholder="Endereço" autocomplete="off" />
        <br />
        <br />
    </div>
    <div>
        <label>E-MAIL</label>
        <br />
        <input class="input" type="text" name="Email" placeholder="Email" autocomplete="off" />
        <br />
        <br />
    </div>

    if (Model != null)
    {
        @Model.Message;
    }


    <input class="botaoSalvaProduto" type="submit" value="Enviar" />
    <a href="~/Provider/Fornecedor"> <input type="button" class="voltar botaoCancelaFornecedor" value="Voltar" /> </a>

    <br />
    <br />
}