@model ProjetoTCM.Infrastructure.Common.ObjectReply<ProjetoTCM.Domain.General.ClientDomain>

@{
    ViewBag.Title = "Cadastro de Cliente";
}


<h3>CADASTRO DE CLIENTE</h3>


<script>
    function cpf() {
        var mask = document.getElementById("cpf");
        if (mask.value.length == 3 || mask.value.length == 7) {
            mask.value += ".";
        }
        else if (mask.value.length == 11) {
            mask.value += "-";
        }
    }
</script>

@using (Html.BeginForm("CadastroCliente", "Client", FormMethod.Post))
{

    <fieldset>
        <legend class="inicio">Insira os dados do cliente para efetuar o cadastro:</legend>
    </fieldset>

    <div>
        <label>Nome</label>
        <br />
        <input class="input" type="text" name="Name" autocomplete="off" placeholder="Nome" />
        <br />
        <br />
    </div>
    <div>
        <label>CPF</label>
        <br />
        <input class="input" id="cpf" type="text" name="CPF" autocomplete="off" placeholder="CPF" maxlength="14" onclick="cpf()" />
        <br />
        <br />
    </div>

    <div>
        <label>Telefone</label>
        <br />
        <input class="input" type="tel" placeholder="Telefone" name="Phone" maxlength="11" />
        <br />
        <br />
    </div>
    <div>
        <label>Celular</label>
        <br />
        <input class="input" type="tel" placeholder="Celular" name="CellPhone" maxlength="11" />
        <br />
        <br />
    </div>

    <div>
        <label>E-mail</label>
        <br />
        <input class="input" type="text" autocomplete="off" name="Email" placeholder="E-mail" />
        <br />
        <br />
    </div>

    <div>
        <label>Sexo</label>
        <br />
        <label>Masculino</label>
        <input type="radio" name="Sex" value="0" />
        <label>Feminino</label>
        <input type="radio" name="Sex" value="1" />
    </div>

    if (Model != null)
    {
        @Model.Message;
    }
    <br />

    <input class="botaoSalvaProduto" type="submit" value="Enviar" />
    <a href="~/Client/Cliente"> <input type="button" class="voltar botaoCancelaProduto" value="Voltar" /> </a>

    <br />
    <br />
    @*<a href="~/Home/Login">Ja tem cadastro? Faça seu login!</a>*@
}
