
@{
    ViewBag.Title = "Produtos";
}

<h2>PRODUTOS</h2>


<form id="produto">
    <fieldset>
        <legend class="inicio">Adicionar novo produto:</legend>
    </fieldset>

    <label>NOME DO PRODUTO</label>
    <br />
    <input class="input" type="text" placeholder="Nome do Produto" autocomplete="off"/>
    <br />
    <br />

    <label>MARCA</label>
    <br />
    <input class="input" type="text" placeholder="Marca" autocomplete="off" />
    <br />
    <br />

    <label>DESCRIÇÃO DO PRODUTO</label>
    <br />
    <input class="input" type="text" placeholder="Descrição do Produto" />
    <br />
    <br />

    <label>PREÇO</label>
    <br />
    <input class="input" type="text" placeholder="Preço do Produto" />
    <br />
    <br />

    <label>ESTOQUE</label>
    <br />
    <input class="input" type="number" placeholder="Quantidade em estoque" />
    <br />
    <br />

    <label>CATEGORIA</label>
    <br />
    <select>
        <option>Acessórios</option>
        <option>Calçados</option>
        <option>Equipamentos</option>
        <option>Roupas</option>
    </select>
    <br />
    <br />

    <input class="botaoSalvaProduto" type="submit" value="Salvar" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="botaoCancelaProduto" type="reset" value="Cancelar" />
</form>