
@{
    ViewBag.Title = "Produtos";
}

<h2>PRODUTOS</h2>

<a href="~/Product/CadastroProdutos"> <button class="btn btn-success create">  Criar Novo Poduto  <i class="glyphicon glyphicon-open"></i></button> </a>

<br />
<br />

<table>
    <tr>
        <th> &nbsp;&nbsp;&nbsp; NOME &nbsp;&nbsp;&nbsp; </th>
        <th> &nbsp;&nbsp;&nbsp; CATEGORIA &nbsp;&nbsp;&nbsp; </th>
        <th> &nbsp;&nbsp;&nbsp; PREÇO &nbsp;&nbsp;&nbsp; </th>
        <th> &nbsp;&nbsp;&nbsp; ESTOQUE &nbsp;&nbsp;&nbsp; </th>
        <th></th>
    </tr>

    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>
            <a href="~/Home/"> <button class="btn btn-danger delete"> <i class="glyphicon glyphicon-trash">EXCLUIR</i> </button> </a>
            <a href="~/Home/EditCliente"> <button class="btn btn-primary edit"> <i class="glyphicon glyphicon-edit">EDITAR</i> </button> </a>
        </td>
    </tr>
</table>