@model ProjetoTCM.Infrastructure.Common.ObjectReply<ProjetoTCM.Domain.General.SalesmanDomain>
@{
    ViewBag.Title = "CadastroFunc";
}

<h3>CADASTRO DE FUNCIONÁRIO</h3>

<script>
    function cpf() {
        var mask = document.getElementById("cpf");
        if (mask.value.length == 3 || mask.value.length == 7) {
            mask.value += "."
        }
        else if (mask.value.length == 11) {
            mask.value += "-"
        }
    }
</script>


@using (Html.BeginForm("CadastroFunc", "Salesman", FormMethod.Post))
{
    <fieldset>
        <legend class="inicio">Insira seus dados para efetuar o cadastro:</legend>
    </fieldset>

    <div>
        <label>NOME</label>
        <br />
        <input class="input" type="text" name="name" placeholder="Nome" />
        <br />
        <br />
    </div>

    <div>
        <label>TELEFONE</label>
        <br />
        <input class="input" type="tel"  name="Phone" placeholder="Telefone" autocomplete="off" />
        <br />
        <br />
    </div>

    <div>
        <label>ENDEREÇO</label>
        <br />
        <input class="input" type="text" name="Address" placeholder="Endereço" autocomplete="off" />
        <br />
        <br />
    </div>

    <div>
        <label>CPF</label>
        <br />
        <input class="input" id="cpf" type="text" name="CPF" autocomplete="off" placeholder="CPF" maxlength="14" onclick="cpf()" />
        <br />
        <br />
    </div>

    <div>
        <label>E-MAIL</label>
        <br />
        <input class="input" type="text" name="Email" placeholder="E-mail" />
        <br />
        <br />
    </div>

    <div>
        <label>Sexo</label>
        <br />
        <label>Masculino</label>
        <input type="radio" name="Sex" value="0" />
        <label>Feminino</label>
        <input type="radio" name="Sex" value="1" />
    </div>

    if (Model != null)
    {
        @Model.Message;
    }
    <br />

    <input class="botaoSalvaProduto" type="submit" value="Enviar" />

    <a href="~/Salesman/funcionario"> <input type="button" class="voltar botaoCancelaFuncionario" value="Voltar" /> </a>

    <br />
    <br />

}