@model ProjetoTCM.Infrastructure.Common.ObjectReply<ProjetoTCM.Domain.Security.UserDomain>
@{
    ViewBag.Title = "CadastroUsu";
}

<h2>Cadastro de Usuários</h2>





@using (Html.BeginForm("CadastroUsu", "User", FormMethod.Post))
{
    <fieldset>
        <legend class="inicio">Insira seus dados para efetuar o cadastro:</legend>
    </fieldset>

    <div>
        <label>NOME</label>
        <br />
        <input class="input" name="Name" type="text" placeholder="Nome" />
        <br />
        <br />
    </div>

    <div>
        <label>LOGIN</label>
        <br />
        <input class="input" type="text" name="Login" placeholder="Login" />
        <br />
        <br />
    </div>

    <div>
        <label>E-MAIL</label>
        <br />
        <input class="input" type="text" name="Email" placeholder="E-mail" />
        <br />
        <br />
    </div>

    <div>
        <label>SENHA</label>
        <br />
        <input class="input" type="password" name="Password" placeholder="Senha" />
        <br />
        <br />
    </div>


    <label>CARGO</label>
    <br />
    <input class="input" type="text" name="Porfile" placeholder="Porfile" />

    if (Model != null)
    {
        @Model.Message;
    }

    <input class="botaoSalvaProduto" type="submit" value="Enviar" />
    <input class="botaoCancelaProduto" type="reset" value="Cancelar" />

    <br />
    <br />

    <a href="~/Home/Login">Ja tem cadastro? Faça seu login!</a>

}

