
@{
    ViewBag.Title = "Usuario";
}

<h2>USUÁRIOS</h2>

<a href="~/User/CadastroUsu"> <button class="btn btn-success create">  Criar Novo Usuário  <i class="glyphicon glyphicon-open"></i></button> </a>

<br />
<br />

<div class="pesquisa">
    <form>
        <input class="textpesquisa" type="text" placeholder="Pesquise pelo Login" />
        <input type="button" value="Buscar" />
    </form>
</div>

<br />
<br />
<br />

<table>
    <tr>
        <th> &nbsp;&nbsp;&nbsp; NOME &nbsp;&nbsp;&nbsp;</th>
        <th> &nbsp;&nbsp;&nbsp; LOGIN &nbsp;&nbsp;&nbsp;</th>
        <th> &nbsp;&nbsp;&nbsp; EMAIL &nbsp;&nbsp;&nbsp;</th>
        <th> &nbsp;&nbsp;&nbsp; CARGO &nbsp;&nbsp;&nbsp;</th>
        <th></th>
    </tr>

    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>
            <a href="~/Home/"> <button class="btn btn-danger delete"> <i class="glyphicon glyphicon-trash">EXCLUIR</i> </button> </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="~/Home/EditCliente"> <button class="btn btn-primary edit"> <i class="glyphicon glyphicon-edit">EDITAR</i> </button> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>

