
@{
    ViewBag.Title = "Cliente";
}

<h2>CLIENTES</h2>

<button class="btn btn-success create">Criar Novo Cliente <i class="glyphicon glyphicon-open"></i></button>

<br />
<br />

<table>
    <tr>
        <th>NOME</th>
        <th>CPF</th>
        <th>EMAIL</th>
        <th>CELULAR</th>
        <th></th>
    </tr>

    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>
            <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
            <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
            <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
        </td>
    </tr>
</table>

