
@{
    ViewBag.Title = "Login";
}

<h2>LOGIN</h2>

<center>
    <div id="Login">
            <fieldset>
                <legend id="inicio">Insira seus dados para efetuar o login:</legend>
            </fieldset>
        <div>
            <label>CÓDIGO</label> &nbsp;&nbsp;&nbsp;
            <input class="login" type="text"/>
            <br />
            <br />
        </div>

        <div>
            <label>SENHA</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="login" type="password" />
            <br />
            <br />
            <br />
        </div>

        <a href="~/Home/CadastroFunc">Ainda não tem login? Cadastre-se!</a>
    </div>
</center>
