
@{
    ViewBag.Title = "Pagamento";
}

<h2>PAGAMENTO</h2>

<div>
    <table>
        <tr>
            <th><b>Produto</b></th>
            <th><b>Categoria</b></th>
            <th><b>Quantidade</b></th>
            <th><b>Preço</b></th>
            <th></th>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
                <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
            </td>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
                <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
            </td>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
                <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
            </td>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
                <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
            </td>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
                <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
            </td>
        </tr>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>
                <button class="btn btn-success details"><i class="glyphicon glyphicon-file">DETALHES</i></button>
                <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
            </td>
        </tr>
    </table>
</div>

<br />
<br />

<div>
    <form id="pagamento">
        <label>FORMA DE PAGAMENTO</label>
        <br />
        <select>
            <option>Dinheiro</option>
            <option>Crédito</option>
            <option>Débito</option>
        </select>

        <br />
        <br />

        <label>BANDEIRA DO CARTÃO</label>
        <br />
        <select>
            <option>MasterCard</option>
            <option>Visa</option>
            <option>Elo</option>
            <option>Amex</option>
        </select>

        <br />
        <br />

        <label>CPF DO CLIENTE</label>
        <br />
        <input class="input" type="text" placeholder="CPF" />

        <br />
        <br />

        <label>DATA DA VENDA</label>
        <br />
        <input class="input" type="date" placeholder="DATA" />

        <br />
        <br />

        <label>VALOR TOTAL</label>
        <br />
        <input class="input" type="text" readonly placeholder="Total" />
    </form>
</div>
