
@{
    ViewBag.Title = "CadastroFunc";
}

<h3>CADASTRO DE FUNCIONÁRIO</h3>

<script>
    function cpf() {
        var mask = document.getElementById("cpf");
        if (mask.value.length == 3 || mask.value.length == 7) {
            mask.value += "."
        }
        else if (mask.value.length == 11) {
            mask.value += "-"
        }
    }
</script>


<form id="cadastro">
    <fieldset>
        <legend class="inicio">Insira seus dados para efetuar o cadastro:</legend>
    </fieldset>

    <div>
        <label>NOME</label>
        <br />
        <input class="input" type="text" placeholder="Nome" />
        <br />
        <br />
    </div>

    <div>
        <label>SOBRENOME</label>
        <br />
        <input class="input" type="text" placeholder="Sobrenome" />
        <br />
        <br />
    </div>

    <div>
        <label>TELEFONE</label>
        <br />
        <input class="input" type="tel" placeholder="Telefone" autocomplete="off" />
        <br />
        <br />
    </div>

    <div>
        <label>CPF</label>
        <br />
        <input class="input" id="cpf" type="text" autocomplete="off" placeholder="CPF" maxlength="14" onclick="cpf()" />
        <br />
        <br />
    </div>

    <div>
        <label>SENHA</label>
        <br />
        <input class="input" type="password" placeholder="Senha" />
        <br />
        <br />
    </div>

    <div>
        <label>CONFIRMAR SENHA</label>
        <br />
        <input class="input" type="password" placeholder="Confirme sua senha" />
        <br />
        <br />
    </div>

    <div>
        <label>E-MAIL</label>
        <br />
        <input class="input" type="text" placeholder="E-mail" />
        <br />
        <br />
    </div>

    <div>
        <label>SEXO</label>
        <br />
        <input type="radio" name="gender" value="M" /> M &nbsp;&nbsp;
        <input type="radio" name="gender" value="F" /> F
    </div>

    <br />

    <input class="botaoSalvaProduto" type="submit" value="Enviar" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="botaoCancelaProduto" type="reset" value="Cancelar" />

    <br />
    <br />
    <a href="~/Home/Login">Ja tem cadastro? Faça seu login!</a>

</form>