
@{ ViewBag.Title = "Cliente"; }

<h2>CLIENTES</h2>

<a href="~/Home/CadastroCliente"> <button class="btn btn-success create">  Criar Novo Cliente  <i class="glyphicon glyphicon-open"></i></button> </a>

<br />
<br />
<form>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
    </svg>
    <input type="text" placeholder="Pesquise pelo CPF" />
    <input type="button" value="Buscar" />
</form>
<br />
<br />
<br />
<table>
    <tr>
        <th> &nbsp;&nbsp;&nbsp; NOME &nbsp;&nbsp;&nbsp;</th>
        <th> &nbsp;&nbsp;&nbsp; CPF &nbsp;&nbsp;&nbsp;</th>
        <th> &nbsp;&nbsp;&nbsp; EMAIL &nbsp;&nbsp;&nbsp;</th>
        <th> &nbsp;&nbsp;&nbsp; CELULAR &nbsp;&nbsp;&nbsp;</th>
        <th></th>
    </tr>

    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>
            <a href="~/Home/"> <button class="btn btn-danger delete"> <i class="glyphicon glyphicon-trash">EXCLUIR</i> </button> </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="~/Home/EditCliente"> <button class="btn btn-primary edit"> <i class="glyphicon glyphicon-edit">EDITAR</i> </button> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>

