
@{
    ViewBag.Title = "Pagamento";
}

<h2>PAGAMENTO</h2>



<div>
    <form id="pagamento">
        <label>FORMA DE PAGAMENTO</label>
        <br />
        <select>
            <option>Dinheiro</option>
            <option>Crédito</option>
            <option>Débito</option>
        </select>

        <br />
        <br />

        <label>BANDEIRA DO CARTÃO</label>
        <br />
        <select>
            <option>MasterCard</option>
            <option>Visa</option>
            <option>Elo</option>
            <option>Amex</option>
        </select>

        <br />
        <br />

        <label>CPF DO CLIENTE</label>
        <br />
        <input class="input" type="text" placeholder="CPF" autocomplete="off" />

        <br />
        <br />

        <label>DATA DA VENDA</label>
        <br />
        <input class="input" type="date" placeholder="DATA" />

        <br />
        <br />

        <label>NOME DO VENDEDOR</label>
        <br />
        <input class="input" type="text" placeholder="Vendedor" />

        <br />
        <br />

        <label>VALOR RECEBIDO</label>
        <br />
        <input class="input" type="text" placeholder="Valor Recebido" autocomplete="off" />

        <br />
        <br />

        <label>TROCO</label>
        <br />
        <input class="input" type="text" placeholder="Troco" autocomplete="off" />

        <br />
        <br />

        <label>VALOR TOTAL</label>
        <br />
        <input class="input" type="text" readonly placeholder="Total" />

        <br />
        <br />

        <input class="botaoSalvaProduto" type="submit" value="Confirmar Venda" />&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="botaoCancelaProduto" type="reset" value="Cancelar" />

        <br />
        <br />
    </form>

    <div>
        <table>
            <tr>
                <th><b>&nbsp;&nbsp;&nbsp;Produto&nbsp;&nbsp;&nbsp;</b></th>
                <th><b>&nbsp;&nbsp;&nbsp;Categoria&nbsp;&nbsp;&nbsp;</b></th>
                <th><b>&nbsp;&nbsp;&nbsp;Quantidade&nbsp;&nbsp;&nbsp;</b></th>
                <th><b>&nbsp;&nbsp;&nbsp;Preço&nbsp;&nbsp;&nbsp;</b></th>
                <th></th>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>
                    <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                    <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
                </td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>
                    <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                    <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
                </td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>
                    <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                    <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
                </td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>
                    <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                    <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
                </td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>
                    <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                    <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
                </td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>a</td>
                <td>
                    <button class="btn btn-danger delete"><i class="glyphicon glyphicon-trash">EXCLUIR</i></button>
                    <button class="btn btn-primary edit"><i class="glyphicon glyphicon-edit">EDITAR</i></button>
                </td>
            </tr>
        </table>
    </div>

    <br />
    <br />

</div>
