
@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<a href="~/Home/CadastroProdutos"> <button class="btn btn-success create">  Criar Novo Poduto  <i class="glyphicon glyphicon-open"></i></button> </a>

<br />
<br />

<table>
    <tr>
        <th>NOME</th>
        <th>CATEGORIA</th>
        <th>PREÇO</th>
        <th>ESTOQUE</th>
        <th></th>
    </tr>

    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>
            <a href="~/Home/"> <button class="btn btn-danger delete"> <i class="glyphicon glyphicon-trash">EXCLUIR</i> </button> </a>
            <a href="~/Home/EditCliente"> <button class="btn btn-primary edit"> <i class="glyphicon glyphicon-edit">EDITAR</i> </button> </a>
        </td>
    </tr>
</table>