
@{
    ViewBag.Title = "Sobre";
}

<h2>Sobre</h2>

<center>
    <div class="sobre">

        <p>
            Fundada em 2019, a Agile Company é uma empresa
            de softwares que tem como intuito oferecer serviços
            de tecnologia de qualidade , proporcionando a equipe
            e clientes oportunidades de evolução profissinal e
            pessoal, respeitando também a sociedade e o meio
            ambiente.
        </p>

        <br />

        <p>Entre em contato conosco pelo site: </p> <a href="#">www.agilecompany.info</a>

    </div>
</center>
